
@{
    ViewBag.Title = "Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Generate</h2>

@if (ViewBag.returnCategory)
{
    <div>Category generated</div>
}
else
{
    <div>Error</div>
}