@model URent.Models.Model.Rent

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4 alert-success">
        The rent was registered with success.<br />
        This is the rent ID: <b>@Model.RentId</b>
        <br /><br />
        @Html.ActionLink("Return to reservations list", "Reservation", "AdminHome", null, null)
    </div>
</div>