
@{
    ViewBag.Title = "Admin - Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title.</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Listing Reservations", "Reservation", "AdminHome", null, null)
    </div>
</div>